#root {
  min-width:850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main{
  display:flex;
  height:500px;
}

#list{
  width: 30%;
  padding-right:5px;
  overflow:scroll;
}

#map {
  width: 70%;
  position:relative;
}

#address-input{
  position:absolute;
  top:2%;
  left:2%;
  z-index: 1;
}