#root {
  min-width:850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main{
  display:flex;
  height:500px;
}

#list{
  width: 30%;
  padding-right:5px;
  overflow:scroll;
}

#map {
  width: 70%;
  position:relative;
}

#address-input{
  position:absolute;
  top:2%;
  left:2%;
  z-index: 1;
}

#new-marker-form{
  background-color: black; 
  height: 500px;
  position: absolute;
  z-index: 3;
  width:30%;
  left:70%;
  animation: formAppear 1s;
}

@keyframes formAppear {
  0% { opacity: 0%; left: 80%}
  100% { opacity: 100%; left: 70% }
}
