#modal {
    position: absolute;
    width:400px;
    height:110px;
    background-color: rgb(40, 40, 40);
    margin:auto;
    transition: top 1s, left 1s, opacity 1s;
    border-radius: 5px;
    animation: fadeIn 1s;
    z-index: 3;
    display: flex;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


img{
    padding: 5px;
}

#modal-info{
    width:70%;
    font-size: small;
    padding:5px
}

#modal-info-line{
    display:flex;
}

#line{
    height:1px;
    opacity: 0.2;
    background-color: white;
}

#label{
    width: 30%;
    text-align: right;
    font-weight: 100;
}

#value {
    width: 70%;
    text-align: left;
    font-weight:600;
}